[gcode_macro HOMING_OVERRIDE]
axes: xyz
gcode:
    {% set homing_zhop = printer["gcode_macro _USER_VARIABLES"].homing_zhop|float|abs %}
    {% set z_drop_speed = printer["gcode_macro _USER_VARIABLES"].z_drop_speed * 60 %}
    {% set sensorless_current_factor = printer["gcode_macro _USER_VARIABLES"].sensorless_current_factor / 100 %}
    {% set x_driver = printer["gcode_macro _USER_VARIABLES"].x_driver %}
    {% set y_driver = printer["gcode_macro _USER_VARIABLES"].y_driver %}

    LIGHT_ON S={light_intensity_start_print}
    STATUS_LEDS COLOR="HOMING"

    # Notify starting homing process
    { action_respond_info("Homing start.") }

    # Reset Z-hop state for full homing
    {% if 'X' in params and 'Y' in params and 'Z' in params %}
        RESET_ZHOP_STATE
        { action_respond_info("Z-hop reset.") }
    {% endif %}

    # X homing
    {% if 'X' in params %}
        { action_respond_info("Homing X.") }
        PERFORM_ZHOP_IF_NEEDED homing_zhop={homing_zhop} z_drop_speed={z_drop_speed}
        SET_SENSORLESS_CURRENT sensorless_current_factor={sensorless_current_factor} x_driver={x_driver} y_driver={y_driver}
        G28 X0
        RESTORE_SENSORLESS_CURRENT x_driver={x_driver} y_driver={y_driver}
        { action_respond_info("X done.") }
    {% endif %}

    # Y homing
    {% if 'Y' in params %}
        { action_respond_info("Homing Y.") }
        PERFORM_ZHOP_IF_NEEDED homing_zhop={homing_zhop} z_drop_speed={z_drop_speed}
        SET_SENSORLESS_CURRENT sensorless_current_factor={sensorless_current_factor} x_driver={x_driver} y_driver={y_driver}
        G28 Y0
        RESTORE_SENSORLESS_CURRENT x_driver={x_driver} y_driver={y_driver}
        { action_respond_info("Y done.") }
    {% endif %}

    # Z homing
    {% if 'Z' in params %}
        { action_respond_info("Homing Z.") }
        PERFORM_ZHOP_IF_NEEDED homing_zhop={homing_zhop} z_drop_speed={z_drop_speed}
        G28 Z0
        { action_respond_info("Z done.") }
    {% endif %}

    STATUS_LEDS COLOR="READY"
    { action_respond_info("Homing complete.") }

# Reusable Macros
[gcode_macro PERFORM_ZHOP_IF_NEEDED]
gcode:
    {% set z_hop_done = printer["gcode_macro _USER_VARIABLES"].z_hop_done|default(false) %}
    {% if not z_hop_done %}
        {% if 'xy' not in printer.toolhead.homed_axes or printer.toolhead.position.z < params.homing_zhop %}
            { action_respond_info("Z-hop.") }
            G91
            G0 Z{params.homing_zhop} F{params.z_drop_speed}
            G90
            SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=z_hop_done VALUE=true
        {% endif %}
    {% endif %}

[gcode_macro RESET_ZHOP_STATE]
gcode:
    { action_respond_info("Z-hop reset.") }
    SET_GCODE_VARIABLE MACRO=_USER_VARIABLES VARIABLE=z_hop_done VALUE=false

[gcode_macro SET_SENSORLESS_CURRENT]
gcode:
    {% set old_current_x = printer.configfile.config[params.x_driver ~ ' stepper_x'].run_current|float %}
    {% set old_current_y = printer.configfile.config[params.y_driver ~ ' stepper_y'].run_current|float %}
    {% set new_current_x = params.sensorless_current_factor * old_current_x %}
    {% set new_current_y = params.sensorless_current_factor * old_current_y %}
    { action_respond_info("Current adjust.") }
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={new_current_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={new_current_y}
    M400

[gcode_macro RESTORE_SENSORLESS_CURRENT]
gcode:
    {% set old_current_x = printer.configfile.config[params.x_driver ~ ' stepper_x'].run_current|float %}
    {% set old_current_y = printer.configfile.config[params.y_driver ~ ' stepper_y'].run_current|float %}
    { action_respond_info("Current restore.") }
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={old_current_x}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={old_current_y}
    M400