[gcode_macro _USER_VARIABLES]

# Used in homing override
variable_homing_zhop: 10
variable_homing_travel_speed: 300
variable_homing_travel_accel: 3000
variable_sensorless_current_factor: 75
variable_x_driver: "tmc2209"
variable_y_driver: "tmc2209"
variable_homing_first: "X"
variable_homing_backoff_distance_xy: -15, -15

variable_z_drop_speed: 10
variable_travel_speed: 300

variable_print_default_material: "ABS"
variable_default_extruder_temp: 250
variable_default_bed_temp: 100
variable_default_bed_heatsoak_time: 10

variable_default_chamber_heatsoak_max_time: 20
variable_default_chamber_heatsoak_target_temp: 50

variable_filter_name: "filter"
variable_filter_time: 600 # 10 minutes

variable_chamber_temperature_sensor_name: "Chamber"

variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_logo_idx: '1' 
variable_status_leds_nozzle_idx: '2,3'



variable_purge_location_xyz: 325, 345, 5
variable_purge_distance: 10
variable_purge_ooze_time: 10

variable_prime_line_xy: 5, 2.5 # starting point
variable_prime_line_direction: "X" # can also be set to "Y"
variable_prime_line_length: 40 # length of the prime line on the bed (in mm)
variable_prime_line_purge_distance: 30 # length of filament to purge (in mm)
variable_prime_line_flowrate: 10 # mm3/s used for the prime line
variable_prime_line_height: 0.6 # mm, used for actual cross section computation
variable_prime_line_margin: 5  # distance of purge line from fl_size rectangle

variable_brush_location_xyz: 283,346,3
variable_brush_width_x: 37
variable_brush_length_y: 8
variable_brush_clean_speed: 100
variable_brush_clean_accel: 3000
variable_num_segments: 7
variable_zigzag_repeats: 3

variable_light_pin_name: "caselight"
variable_light_intensity: 60

variable_park_lift_z: 20
variable_park_position_xy: 300, 300

gcode: