[gcode_macro _USER_VARIABLES]

variable_z_drop_speed: 10
variable_travel_speed: 300

variable_print_default_material: "ABS"
variable_default_extruder_temp: 250
variable_default_bed_temp: 100
variable_default_bed_heatsoak_time: 10

variable_default_chamber_heatsoak_max_time: 20.0
variable_default_chamber_heatsoak_target_temp: 50

variable_filter_name: "filter"
variable_filter_time: 600 # 10 minutes

variable_chamber_temperature_sensor_name: "Chamber"

variable_status_leds_logo_led_name: "status_leds"
variable_status_leds_nozzle_led_name: "status_leds"
variable_status_leds_logo_idx: '1' 
variable_status_leds_nozzle_idx: '2,3'

variable_purge_location_xyz: 325, 345, 5
variable_purge_distance: 10
variable_purge_ooze_time: 10

variable_prime_line_xy: 5, 2.5 # starting point
variable_prime_line_direction: "X" # can also be set to "Y"
variable_prime_line_length: 40 # length of the prime line on the bed (in mm)
variable_prime_line_purge_distance: 30 # length of filament to purge (in mm)
variable_prime_line_flowrate: 10 # mm3/s used for the prime line
variable_prime_line_height: 0.6 # mm, used for actual cross section computation
variable_prime_line_margin: 5  # distance of purge line from fl_size rectangle

variable_brush_location_xyz: 282,346,0.65
variable_brush_width_x: 37
variable_brush_length_y: 8
variable_brush_clean_speed: 100
variable_brush_clean_accel: 3000
variable_num_segments: 7
variable_zigzag_repeats: 3

variable_light_pin_name: "caselight"
variable_light_intensity: 60

variable_park_lift_z: 20
variable_park_position_xy: 300, 300

variable_filament_table:
    {
        ## ( density, heat capacity )  # suggested heat capacity range
        "PLA"       : ( 1.25, 2.20 ),  # 1.80 - 2.20
        "PETG"      : ( 1.27, 2.20 ),  # 1.70 - 2.20
        "PC+ABS"    : ( 1.15, 2.20 ),  # 1.50 - 2.20
        "ABS"       : ( 1.06, 2.40 ),  # 1.25 - 2.40
        "ASA"       : ( 1.07, 2.10 ),  # 1.30 - 2.10
        "PA6"       : ( 1.12, 2.50 ),  # 2.00 - 2.50
        "PA"        : ( 1.15, 2.50 ),  # 2.00 - 2.50
        "PC"        : ( 1.20, 1.90 ),  # 1.10 - 1.90
        "TPU"       : ( 1.21, 2.00 ),  # 1.50 - 2.00
        "TPU-90A"   : ( 1.15, 2.00 ),  # 1.50 - 2.00
        "TPU-95A"   : ( 1.22, 2.00 ),  # 1.50 - 2.00
        "ABS-CF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ABS-GF"    : ( 1.11, 2.40 ),  # 1.25 - 2.40
        "ASA-CF"    : ( 1.11, 2.10 ),  # 1.30 - 2.10
        "PA6-CF"    : ( 1.19, 2.50 ),  # 2.00 - 2.50
        "PC+ABS-CF" : ( 1.22, 2.20 ),  # 1.50 - 2.20
        "PC+CF"     : ( 1.36, 1.90 ),  # 1.10 - 1.90
        "PLA-CF"    : ( 1.29, 2.20 ),  # 1.80 - 2.20
        "PETG-CF"   : ( 1.30, 2.20 ),  # 1.70 - 2.20
    }

variable_status_colors:
    {
        'ready': {
            'logo': 'standby',
            'nozzle': 'standby',
            'caselight': 'standby',
            'minidisplay': 'on'
        },
        'busy': {
            'logo': 'busy',
            'nozzle': 'on',
            'caselight': 'busy',
            'minidisplay': 'on'
        },
        'heating': {
            'logo': 'heating',
            'nozzle': 'heating',
            'caselight': 'heating',
            'minidisplay': 'on'
        },
        'leveling': {
            'logo': 'leveling',
            'nozzle': 'on',
            'caselight': 'leveling',
            'minidisplay': 'on'
        },
        'homing': {
            'logo': 'homing',
            'nozzle': 'on',
            'caselight': 'homing',
            'minidisplay': 'on'
        },
        'cleaning': {
            'logo': 'cleaning',
            'nozzle': 'on',
            'caselight': 'cleaning',
            'minidisplay': 'on'
        },
        'meshing': {
            'logo': 'meshing',
            'nozzle': 'on',
            'caselight': 'meshing',
            'minidisplay': 'on'
        },
        'calibrating_z': {
            'logo': 'calibrating_z',
            'nozzle': 'on',
            'caselight': 'calibrating_z',
            'minidisplay': 'on'
        },
        'printing': {
            'logo': 'printing',
            'nozzle': 'on',
            'caselight': 'printing',
            'minidisplay': 'on'
        },
        'done_printing': {
            'logo': 'done_printing',
            'nozzle': 'done_printing',
            'caselight': 'done_printing',
            'minidisplay': 'off'
        },
        'on': {
            'logo': 'on',
            'nozzle': 'on',
            'caselight': 'on',
            'minidisplay': 'on'
        },        
        'off': {
            'logo': 'off',
            'nozzle': 'off',
            'caselight': 'off',
            'minidisplay': 'off'
        },
        'error': {
            'logo': 'error',
            'nozzle': 'error',
            'caselight': 'error',
            'minidisplay': 'error'
        },        
        'shutdown': {
            'logo': 'off',
            'nozzle': 'off',
            'caselight': 'off',
            'minidisplay': 'shutdown'
        }
    }

gcode: